/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #F2464F;
}
.color-2 {
    background: #D9B481;
}

.color-3 {
    background: #F3D0BB;
}
.color-4 {
    background: #3E2321;
}
.color-5 {
    background: #D7978F;
}



/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */